*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
}

.selettori{
    position: fixed;
    top: 20px;
    right: 5px;
}

.selettori li{
    display: inline-block;
    border-radius: 16px;
   /*  border: 3px solid black; */
    margin: 20px;
    }

    a{
        color: black;
        text-decoration: none;
        font-size: larger;
        border-radius: 15px;
        border: 3px solid white;
        background-color: white;
        padding: 2px 7px;
        z-index: 500;
    }

    .contenitore{
        height: 100vh;
        width: auto;
        
    }

    .centro{
        font-size: 40px;
        text-align: center;
    }

    .A{
        background-color: red;
        
        color: yellow;
        z-index: 400;
    }

    .B{
        background-color: royalblue;
        color: yellow;
        z-index: 400;
    }

    .C{
        background-color: yellow;
        
        color: green;
        z-index: 400;
    }

    
    